---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
---

<Layout title="Blog to page" description="descripcion blog">
  <h1>Blog to Page</h1>
  <Button client:visible/>
</Layout>