---
export interface Props {
  title: string;
  body: string;


}

const {title ,body} = Astro.props
---

<div class="card">

  <h2>{title}</h2>
  <p>{body}</p>
</div>

<style>
  .card{
    
    border: solid 3px #ffff;
    display: flex;
    padding: 3px ;
    flex-direction: column;
  
    
  
  }
  .card > h2 {
    padding-left: 5px;
    text-align: start;
  }
  @media only screen and (max-width: 600px) {
    .card > h2 {
      text-align: center;
    }
  }
  .card > p{
    line-height: 1.3rem;
    
  }
</style>