---
import NavLink from '../components/NavLink.astro';
import Seo from '../components/Seo.astro';

export interface Props {
	title: string;
  description: string;
}

const { title ,description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<Seo title={title} description={description}/>
	</head>
	<body >
    <section class="container">

      <header class="header">
        <article>
          <NavLink href="/" body="Logo"/>

        </article>
        <nav class="nav">
          
                
                <NavLink href="/blog" body="Blog"/>
                <NavLink href="/github" body="Github"/>
  
        </nav>
      </header>
  
  <main class="main">
    <slot />
  </main>
  <footer class="footer">
    <p>Developer Duanly</p>
  </footer>
    </section>

	</body>
</html>
<style  is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
  .container{
    
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap :5px
  }
  .main{
    height: auto;
    border: solid 1px #2222;
    padding: 1rem;
  }

  .header, .footer{
    background-color: #222;
    color: #ffff;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
  
  }
  @media only screen and (max-width: 600px) {
    .header{
      display: flex;
      align-items: center;
      flex-flow: column wrap;
    }
    .header >nav {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    .footer{
    display: flex;
    justify-content: center;
    }
  }

</style>
